.view1014 .mainTitle {
    background-color: #66C9DC;
}

.view1014 input[type="button"] {
    border: 0;
    border-radius: 3vw;
    -webkit-appearance: none;
    opacity: 1;
    background: none;
}

.view1014 .info-content {
    background-color: #66C9DC;
}

.view1014 #detail {
    width: 20%;
    float: right;
    border-radius: 10px;
}

.view1014 #close {
    border-radius: 3vw;
    width: 40%;
    margin: 4vh 30%;
}

.view1014 #infomation {
    color: white;
    font-size: 6.5vw;
    margin: 1vh 0;
    font-weight: bold;
    text-align: center;
}

.view1014 #info-in {
    background-color: white;
    height: 59vh;
}

.view1014 label.send {
    padding: 1vw 0 8vw 8vw;
    font-size: 5.5vw;
    color: black;
    border-radius: 3vw;
    text-align: left;
    width: 100%;
    float: left;
}

.view1014 .titleButton {
    font-size: 6.5vw;
    width: 90%;
    word-wrap: break-word;
    margin: 3vw 5%;
    line-height: 7vh;
    text-align: center;
    border-width: 0.5vw;
    border-radius: 1vw;
}

.view1014 .modal.modal-fixed-footer .modal-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 9vw;
    padding: 1vw 6vw;
}

.view1014 div.all {
    background-size: contain;
}

.view1014 .tododiv {
    width: 78%;
}

.view1014 .memoLeft {
    font-size: 4vw;
    width: 60%;
    margin-left: 4%;
    color: gray;
    text-align: center;
    float: left;
}

.view1014 .memoRight {
    font-size: 4vw;
    width: 40%;
    margin-left: 4%;
    color: gray;
    text-align: center;
    float: right;
    margin: 1vh 0;
}

.view1014 .input {
    background: white;
    border-radius: 3vw;
    margin-bottom: 4vh;
}

.view1014 #newText {
    width: 84%;
    font-size: 6.5vw;
    height: 9vh;
    border: 0;
    border-radius: 3vw;
    padding: 0 5vw;
    background: none;
}

.view1014 #newTodo {
    width: 13%;
    height: 8vh;
    font-weight: bold;
    margin: 0 0 0 3%;
    border: 1px gray solid;
}

.view1014 .list tr {
    margin: 1vh 0;
    background: white;
    border-radius: 2vw;
}

.view1014 th.check {
    width: 16%;
    padding: 3vh 4%;
    border-radius: 2vh 0 0 3vw;
}

.view1014 input[type="checkbox"] {
    height: 8vh;
    width: 9%;
    margin: 0vh 6% 0 20%;
}

.view1014 .listData {
    font-size: 6.5vw;
    width: 68%;
    height: 12vh;
    line-height: 12vh;
    vertical-align: middle;
    border-radius: 0 3vw 2vh 0;
    text-align: left;
}

.view1014 .delButton {
    width: 13%;
    margin: 0 0 0 3%;
}

.view1014 .delButton input {
    height: 8vh;
    font-weight: bold;
    border: 1px gray solid;
    margin: 1vh 0;
}

.view1014 .noList {
    text-align: center;
    padding: 26vh 0 0 0;
    font-size: 6.5vw;
}

.view1014 h1 {
    font-size: 6.5vw;
    padding: 2vw;
    word-wrap: break-word;
}

.view1014 .status {
    width: 28%;
    text-align: center;
    border: solid;
    border-radius: 1vw;
    /* color: white; */
}

.view1014 .myStatus {
    width: auto;
    text-align: center;
    border: solid;
    border-radius: 1vw;
    /* color: white; */
    margin: 0 0 2vh 0;
    padding: 1vw 2vw;
}

.view1014 .todoListTitle {
    width: 30%;
    padding: 0.5vh 0;
    float: right;
    font-size: 6.5vw;
    margin: 1vh 1vw 1vh 0;
}

.view1014 .accordion input[type="checkbox"] {
    display: none;
}

.view1014 .todo {
    width: 90%;
    margin: 2vh 5%;
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    padding: 1vh 0;
    word-wrap: break-word;
}

.view1014 .label {
    width: 50%;
    background: #66C9DC;
    color: white;
    margin: 1vw 4vw 1vw 0;
    padding: 0 3vw;
    text-align: center;
}

.view1014 .label1 {
    width: 44%;
    background: #66C9DC;
    color: white;
    margin: 1vh 0;
    padding: 0 3vw;
    text-align: center;
}

.view1014 .label2 {
    width: 50%;
    font-weight: bold;
}

.view1014 .staffName {
    width: 90%;
    margin-left: 5%;
}

.view1014 .workStaffName {
    width: 67%;
    margin: 1vh 0 1vh 5%;
}

.view1014 .hiduke {
    width: 40%;
    margin: 0 5%;
}

.view1014 .finish {
    margin: 0 5%;
}

.view1014 .edBut {
    width: 30%;
    float: right;
    font-size: 5vw;
}

.view1014 .brows {
    float: right;
}

.view1014 .kurasikuMiru {
    margin-top: 2vh;
}

.view1014 .icon {
    position: relative;
    border-radius: 26px;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#3e3e3e));
    background: -webkit-linear-gradient(top, #4a4a4a, #3e3e3e);
    background: linear-gradient(to bottom, #4a4a4a, #3e3e3e);
    background: gradient(linear, center top, center bottom, from(#4a4a4a), to(#3e3e3e));
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.view1014 .icon .badge {
    position: absolute;
    right: 0%;
    width: 11%;
    height: 10vh;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.view1014 .icon .badge .inner {
    display: block;
    position: relative;
    margin: 1vw;
    height: 8vh;
    border-radius: 50%;
    color: #fff;
    line-height: 8vh;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ee757b), to(#c80507));
    background: -webkit-linear-gradient(top, #ee757b, #c80507);
    background: linear-gradient(to bottom, #ee757b, #c80507);
    background: gradient(linear, center top, center bottom, from(#ee757b), to(#c80507));
}

.view1014 .request {
    font-size: 6.5vw;
    margin-top: 2vh;
}

.view1014 input#switchBtn {
    width: 84%;
    margin: 2vh 0;
    height: 8vh;
    border: 1px solid;
}

.view1014 input[type="button"]#bfComp,
.view1014 input[type="button"]#complete,
.view1014 input[type="button"]#all_bfComp,
.view1014 input[type="button"]#all_complete,
.view1014 input[type="button"]#noStart,
.view1014 input[type="button"]#progress,
.view1014 input[type="button"]#reserve,
.view1014 input[type="button"]#wait,
.view1014 input[type="button"]#finish {
    background-image: url(../img/todo_button.png);
    background-size: 65%;
    background-position: 50% 50%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
}

.view1014 input.headbut {
    width: 33.3%;
    height: 12vh;
    color: black;
    border: none;
    margin: 0;
    border-radius: 3vw 3vw 0 0;
    font-size: 4vw;
    background: darkgray;
    padding: 8vh 0;
    line-height: 0;
    font-weight: bold;
}

.view1014 a {
    color: #000000;
}

.view1014 div.space {
    height: 20px;
}

.view1014 th#time {
    width: 45%;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 35vw;
    padding-right: 2%;
}

.view1014 th#day {
    width: 55%;
    font-size: 20vw;
    text-align: center;
    vertical-align: middle;
    padding-right: 3%;
}

.view1014 div.space {
    height: 40px;
}

.view1014 table.infotbl {
    background-color: #ffffff;
    text-align: left;
    -webkit-appearance: none;
    padding: 10px 5px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.view1014 th.title {
    padding-left: 1%;
    background-color: #ffffff;
}

.view1014 th.title h1 {
    font-size: 8vw;
}

.view1014 td.info {
    color: #696969;
    padding-left: 1%;
    background-color: #ffffff;
}

.view1014 td.info p {
    font-size: 6.5vw;
}

.view1014 div.btndiv {
    text-align: center;
    vertical-align: middle;
}

.view1014 table.btntbl {
    text-align: center;
    vertical-align: middle;
}

.view1014 th.botth {
    text-align: center;
    vertical-align: middle;
}

.view1014 input.botbtn {
    width: 80%;
    height: 140px;
    font-size: 22vw;
    background-color: #ffffff;
}

.view1014 h2 {
    background-color: #66C9DC;
}

.view1014 div.but_div2 {
    background-color: #66C9DC;
}

.view1014 p.title {
    width: 50%;
}

.view1014 #daterange {
    width: 45%;
    -webkit-appearance: button;
    font-size: 6.5vw;
    margin: 1vh 0 0 2%;
    padding-left: 3vw;
    background-color: #ffffff;
    border-width: 1vw;
    border-style: outset;
    border-radius: 3vw;
    margin-bottom: 1vh;
}

.view1014 #dateOrder {
    width: 45%;
    -webkit-appearance: button;
    font-size: 6.5vw;
    margin: 1vh 0 0 2%;
    padding-left: 3vw;
    background-color: #ffffff;
    border-width: 1vw;
    border-style: outset;
    border-radius: 3vw;
    margin-bottom: 1vh;
}

.view1014 #iconArea {
    color: white;
    position: absolute;
    margin: 0vw 3vw 0 74vw;
    float: right;
}

.view1014 #memo {
    font-size: 11vw;
}

.view1014 #star {
    font-size: 11vw;
    color: red;
}

.view1014 #bookMark {
    width: 11vw;
}

.view1014 #icon {
    width: 11vw;
}
