.view1016 .mainTitle {
    background-color: #FFCC00;
}

.view1016 .btn {
    height: 17vw;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    color: black;
}

.view1016 .btn:hover {
    background-color: #FFCC00;
}

.view1016 .yohaku {
    height: 50px;
}

.view1016 img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.view1016 input {
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    cursor: pointer;
}

.view1016 table.group_but {
    text-align: left;
}

.view1016 div#group tr {
    padding: 2.5vw 0;
    border-bottom: 0.25vw #cbc7c0 solid;
}

.view1016 div#group tr td.member {
    width: 23%;
}

.view1016 div#group tr td.chat {
    width: 77%;
    margin: 1vw 0;
}

.view1016 div#group p.none {
    font-size: 5vw;
    margin-top: 40vw;
    text-align: center;
}

.view1016 .time {
    font-size: 3.0vw;
    text-align: right;
    height: 3.0vh;
    padding-right: 1vw;
}

.view1016 .title {
    font-weight: bold;
    line-height: 5vw;
    font-size: 4.5vw;
    padding-left: 2vw;
    text-align: left;
}

.view1016 .log {
    font-size: 3.7vw;
    line-height: 8vw;
    padding-left: 2vw;
    color: gray;
    text-align: left;
}

.view1016 img.a {
    height: 18vw;
    border-radius: 50%;
    margin-top: 1vw;
    border: 0.25vw gray solid;
}

.view1016 td.chat {
    font-size: 5vw;
    height: 22vw;
    width: 100%;
    background-image: url(../img/group_button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    float: left;
    line-height: normal;
    word-wrap: break-word;
    border-radius: 1vw;
    border-width: 1vw;
    height: 17vw;
}

.view1016 h2 {
    background-color: #FFCC00;
}

.view1016 div.but_div2 {
    background-color: #FFCC00;
}

.view1016 .icon {
    float: left;
    position: relative;
    border-radius: 26px;
    background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#3e3e3e));
    background: -webkit-linear-gradient(top, #4a4a4a, #3e3e3e);
    background: linear-gradient(to bottom, #4a4a4a, #3e3e3e);
    background: gradient(linear, center top, center bottom, from(#4a4a4a), to(#3e3e3e));
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.view1016 .icon .badge {
    position: absolute;
    left: 81.5vw;
    width: 9.6vw;
    height: 9.5vw;
    border-radius: 50%;
    background: #fff;
    top: 10vw;
    z-index: 2;
}

.view1016 .icon .badge .inner {
    display: block;
    position: relative;
    margin: 0.8vw;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    color: #fff;
    line-height: 8vw;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ee757b), to(#c80507));
    font-size: 5vw;
}

.view1016 .blue.lighten-2 {
    background-color: #ff8f00 !important;
    z-index: 3;
}
