CREATE DATABASE dev
CREATE DATABASE gaia_kanri
SELECT Name from sys.Databases
go

-- USE [master]
-- GO
-- /****** Object:  Database [dev]    Script Date: 2020/02/20 11:30:52 ******/
-- CREATE DATABASE [dev]
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'dev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dev.mdf' , SIZE = 10304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
--  LOG ON 
-- ( NAME = N'dev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dev_log.ldf' , SIZE = 47616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
-- GO
-- ALTER DATABASE [dev] SET COMPATIBILITY_LEVEL = 110
-- GO
-- IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
-- begin
-- EXEC [dev].[dbo].[sp_fulltext_database] @action = 'enable'
-- end
-- GO
-- ALTER DATABASE [dev] SET ANSI_NULL_DEFAULT OFF 
-- GO
-- ALTER DATABASE [dev] SET ANSI_NULLS OFF 
-- GO
-- ALTER DATABASE [dev] SET ANSI_PADDING OFF 
-- GO
-- ALTER DATABASE [dev] SET ANSI_WARNINGS OFF 
-- GO
-- ALTER DATABASE [dev] SET ARITHABORT OFF 
-- GO
-- ALTER DATABASE [dev] SET AUTO_CLOSE OFF 
-- GO
-- ALTER DATABASE [dev] SET AUTO_CREATE_STATISTICS ON 
-- GO
-- ALTER DATABASE [dev] SET AUTO_SHRINK OFF 
-- GO
-- ALTER DATABASE [dev] SET AUTO_UPDATE_STATISTICS ON 
-- GO
-- ALTER DATABASE [dev] SET CURSOR_CLOSE_ON_COMMIT OFF 
-- GO
-- ALTER DATABASE [dev] SET CURSOR_DEFAULT  GLOBAL 
-- GO
-- ALTER DATABASE [dev] SET CONCAT_NULL_YIELDS_NULL OFF 
-- GO
-- ALTER DATABASE [dev] SET NUMERIC_ROUNDABORT OFF 
-- GO
-- ALTER DATABASE [dev] SET QUOTED_IDENTIFIER OFF 
-- GO
-- ALTER DATABASE [dev] SET RECURSIVE_TRIGGERS OFF 
-- GO
-- ALTER DATABASE [dev] SET  DISABLE_BROKER 
-- GO
-- ALTER DATABASE [dev] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
-- GO
-- ALTER DATABASE [dev] SET DATE_CORRELATION_OPTIMIZATION OFF 
-- GO
-- ALTER DATABASE [dev] SET TRUSTWORTHY OFF 
-- GO
-- ALTER DATABASE [dev] SET ALLOW_SNAPSHOT_ISOLATION OFF 
-- GO
-- ALTER DATABASE [dev] SET PARAMETERIZATION SIMPLE 
-- GO
-- ALTER DATABASE [dev] SET READ_COMMITTED_SNAPSHOT OFF 
-- GO
-- ALTER DATABASE [dev] SET HONOR_BROKER_PRIORITY OFF 
-- GO
-- ALTER DATABASE [dev] SET RECOVERY FULL 
-- GO
-- ALTER DATABASE [dev] SET  MULTI_USER 
-- GO
-- ALTER DATABASE [dev] SET PAGE_VERIFY CHECKSUM  
-- GO
-- ALTER DATABASE [dev] SET DB_CHAINING OFF 
-- GO
-- ALTER DATABASE [dev] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
-- GO
-- ALTER DATABASE [dev] SET TARGET_RECOVERY_TIME = 0 SECONDS 
-- GO
-- ALTER DATABASE [dev] SET  READ_WRITE 
-- GO
