<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!-- 2017/11/17 yamazaki 新規作成 -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>バージョンアップ画面</title>
    <meta charset="UTF-8">
    <!-- スマホ画面メタタグ -->
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link href="../../common/css/materialize.css" rel="stylesheet">
    <link href="../css/endEntry_iPhone.css" rel="stylesheet" type="text/css">
    <!-- JavaScriptファイルリンク -->
    <script src="../../common/js/jquery.js"></script>
    <script src="../js/0000_version.js"></script>
</head>

<body>
    <!-- ローディングのレイアウト -->
    <div id="loader-bg"></div>
    <!-- 全体大枠 -->
    <form id="next" method="get" action="">
        <div class="all">
            <div>
                <!-- ロゴ -->
                <img src="../../common/img/normal_logo.png">
            </div>
            <!-- 見出し -->
            <section>
                <h2>新しいアプリの<br>準備ができました</h2>
            </section>
            <p class="explain3">下記のアイコンからストアを起動して最新のアプリを取得してください</p>
            <section id="badges">
                <!-- IK用のTestflightリンク -->
                <!-- <a id='app' href="https://beta.itunes.apple.com/v1/app/1305496544?build=31980705" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:60vw;height:20vw;background-size:contain;"></a> -->
                <!-- RX用のTestflightリンク -->
                <a id='app' href="https://beta.itunes.apple.com/v1/app/1404722984?build=31896993" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:60vw;height:20vw;background-size:contain;"></a>
                <a id='google' href='https://play.google.com/store/apps/details?id=gaia.rexcent.fcm&hl=ja&pcampaignid=MKT-Othr-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png'/></a>            </section>
        </div>
    </form>
</body>

</html>