<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!-- 2017/08/03 yamazaki コメントのヘッダーを追加しました。 -->
<!-- 2017/09/03 yamazaki アイコンの読み込みを修正しました -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>アプリ登録用情報の送信</title>
    <meta charset="UTF-8">
</head>

<body>
    <!-- 全体大枠 -->
    <article>
        <section data-role="view" class="view view1002">
            <header class="login">
                <!-- ロゴ -->
                <img src="../../common/img/normal_logo.png">
            </header>
            <h2>アプリ登録情報の送信</h2>
            <a href="javascript:void(0);" id="back">←ログインに戻る</a>
            <hr>
            <p>ご登録のメールアドレス</p>
            <input id="mail" type="email" placeholder="メールアドレス" class="input">
            <input id="entryButton" type="button" name="but" value="送信" class="but">
            <section>
                <p>
                    　弊社事務局からお客様のご利用登録情報を記載したメールを送信いたします。メールが届かない場合は、受信設定の見直し、迷惑メールに振り分けられていないかチェックしてください。5分以上経っても届かない場合は、再度登録情報の申請を押してください。
                </p>
            </section>
        </section>
    </article>
</body>

</html>