<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!--  -->
<!-- 2017/08/03 yamazaki コメントのヘッダーを追加しました。 -->
<!-- 2017/09/03 yamazaki アイコンの読み込みを修正しました -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>アプリ登録完了</title>
    <meta charset="UTF-8">
    <!-- スマホ画面メタタグ -->
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
    <link href="../../common/css/materialize.css" rel="stylesheet">
    <link href="../css/endEntry_iPhone.css" rel="stylesheet" type="text/css">
    <!-- JavaScriptファイルリンク -->
    <script src="../../common/js/jquery.js"></script>
    <script src="../../common/js/materialize.js"></script>
    <script src="../../common/js/Class/classDatabase.js"></script>
    <script src="../../common/js/Class/classMaster.js"></script>
    <script src="../../common/js/Class/classException.js"></script>
    <script src="../../common/js/Class/classTemplate.js"></script>
    <script src="../../common/js/Class/getParameter.js"></script>
    <script src="../../common/js/smart_phone/init.js"></script>
    <script src="../../common/js/smart_phone/func.js"></script>
    <script src="../../common/js/smart_phone/header.js"></script>
    <script src="../js/1003_endEntry/init.js"></script>
    <script src="../js/1003_endEntry/func.js"></script>
    <script src="../js/1003_endEntry/main.js"></script>
</head>

<body>
    <!-- ローディングのレイアウト -->
    <div id="loader-bg"></div>
    <!-- 全体大枠 -->
    <form id="next" method="get" action="">
        <div class="all">
            <div>
                <!-- ロゴ -->
                <img src="../../common/img/normal_logo.png">
            </div>
            <!-- 見出し -->
            <section>
                <h2>アプリの登録が<br>完了しました</h2>
                <p class="explain1">まだ打刻登録してない方は、本システム管理者にお問合せください。</p>
                <p class="explain2">※打刻登録をしないと打刻処理はできません。</p>
            </section>
            <p class="explain3">早速アプリを使ってみましょう！</p>
            <section id="badges">
                <a id="app" href="https://itunes.apple.com/jp/app/gaia/id1225461515?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/ja-jp/appstore-lrg.svg) no-repeat;width:60vw;height:20vw;background-size:contain;"></a>
                <a id="google" href="https://play.google.com/store/apps/details?id=gaia.release.fcm&hl=ja&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img alt="Google Play で手に入れよう" src="https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png"/></a>
            </section>
        </div>
    </form>
</body>

</html>