<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!--  -->
<!-- 2017/08/03 yamazaki コメントのヘッダーを追加しました。-->
<!-- 2017/08/09 yamazaki ヘッダーのレイアウトを修正しました。-->
<!-- 2017/09/01 yamazaki アイコンの読み込みを修正しました -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>インフォメーション</title>
    <meta charset="UTF-8">
</head>

<body>
    <article>
        <section data-role="view" class="view view1006">
            <div class="header">
                <section class="mainTitle">
                    <i id="back" class="material-icons">keyboard_arrow_left</i>
                    <h2>お知らせ</h2>
                </section>
            </div>
            <div class="all">
                <ul id="msgList" class="dynamic-dom collapsible"></ul>
                <section>
                    <a class="btn-floating btn-large waves-effect waves-light blue lighten-2 new">
                        <i id="new" class="material-icons">追加</i>
                    </a>
                </section>
            </div>
        </section>
    </article>
</body>

</html>