<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!--  -->
<!-- 2017/09/01 yamazaki アイコンの読み込みを修正しました -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>未読者リスト</title>
    <meta charset="UTF-8">
</head>

<body>
    <article>
        <section data-role="view" class="view view1008">
            <div class="header">
                <div class="mainTitle">
                    <i id="back" class="material-icons">keyboard_arrow_left</i>
                    <h2>未読者リスト</h2>
                    <p id="notification" class="waves-effect waves-teal btn-flat">再通知</p>
                </div>
            </div>
            <div class="all">
                <div class="taiseki">
                    <section>
                        <table id="list" class="tbl">
                            <tbody id="midokumember" class="dynamic-dom"></tbody>
                        </table>
                    </section>
                </div>
            </div>
        </section>
    </article>
</body>

</html>