<!--===================================================================-->
<!-- 更新履歴をここに記入してください。 -->
<!-- 2017/08/03 yamazaki コメントのヘッダーを追加しました。 -->
<!-- 2017/08/21 yamazaki 戻るボタンを追加しました（メニューへ） -->
<!-- 2017/09/01 yamazaki アイコンの読み込みを修正しました -->
<!--===================================================================-->
<!DOCTYPE html>
<html>

<head>
    <title>申請リスト</title>
    <meta charset="UTF-8">
</head>

<body>
    <article>
        <section data-role="view" class="view view1009">
            <div class="header">
                <div class="mainTitle">
                    <ul id="slide-out" class="side-nav">
                        <li>
                            <span id="kugiri">下の条件で絞り込み</span>
                        </li>
                        <li class="search">
                            <a id="toSinsei" href="javascript:void(0);">
                        <img src="../img/toIcon.png" class="refineIcon">
                        申請したこと
                    </a>
                        </li>
                        <li class="search">
                            <a id="fromSinsei" href="javascript:void(0);">
                        <img src="../img/doIcon.png" class="refineIcon">
                        申請されたこと
                    </a>
                        </li>
                        <li class="search">
                            <a id="allSinsei" href="javascript:void(0);">
                        <img src="../img/otherIcon.png" class="refineIcon">
                        自分以外の申請
                    </a>
                        </li>
                        <li class="search">
                            <a id="default" href="javascript:void(0);">すべての申請</a>
                        </li>
                        <!-- <li> -->
                            <!-- <span id="kugiri">下の条件で並べ替え</span> -->
                        <!-- </li> -->
                        <!-- <li class="sort"> -->
                            <!-- <a id="oldSort">期限の古い順</a> -->
                        <!-- </li> -->
                        <!-- <li class="sort"> -->
                            <!-- <a id="newSort">期限の新しい順</a> -->
                        <!-- </li> -->
                    </ul>
                    <!-- 2017/08/21 yamazaki 戻るボタンを追加しました（メニューへ） -->
                    <i id="back" class="material-icons">keyboard_arrow_left</i>
                    <h2>申請リスト</h2>
                    <a href="javascript:void(0);" data-activates="slide-out" class="button-collapse">
                        <i id="sideNav" class="material-icons">menu</i>
                    </a>
                </div>
            </div>
            <!-- 全体大枠 -->
            <div class="all">
                <a class="btn-floating btn-large waves-effect waves-light blue lighten-2 new"><i id="new" class="material-icons">追加</i></a>
                <table class="dynamic-dom list" id="list"></table>
                <input type="button" value="処理済みを表示する" id="switchBtn">
                <table class="dynamic-dom list" id="compList"></table>
            </div>
        </section>
    </article>
</body>

</html>